/* src/Header.css */
.header {
    width: 100%;
    display: flex;
    justify-content: flex-start; /* Aligns items to the right */
    padding: 10px; /* Adjust padding as needed */
    
  }
  
  .logo {
    height: 200px; /* Adjust height as needed */
  }
  