body {
  font-family: 'Alef', sans-serif;
  background-color: #d4eeff;
  margin: 0;
  padding: 0;
}

button {
  margin-top: 20px;
}

* {
  box-sizing: border-box;
}

.input-label-white {
  background-color: #FFFFFF; 
  padding: 0 4px; 
}


input {
  background-color: #FFFFFF; 
}